#
# All LSB packaging taskforces are to use this requirements file to track
# ISV and GNU/Linux distribution requirements.
#

Item: 1
Date: 12/6/2000
Submitter: George Kraft, gk4@us.ibm.com
Title: software updates
Requirement:
Would like the capability to incrementally update (or patch) a binary
software installation.  

Item: N
Date: 
Submitter: 
Title: 
Requirement:

#EOF
